<div class="container border p-3 m-3">
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/juegos/ahorcado" class="text-decoration-none">
          <div class="card h-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Super_Mario_Bros._Logo.svg" class="card-img-top" alt="Imagen 1">
            <div class="card-body bg-white">
              <h5 class="card-title">Ahorcado</h5>
              <p class="card-text">Un jugador intenta adivinar una palabra letra por letra antes de completar un dibujo de un ahorcado.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/juegos/preguntados" class="text-decoration-none">
          <div class="card h-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Super_Mario_Bros._Logo.svg" class="card-img-top" alt="Imagen 2">
            <div class="card-body bg-white">
              <h5 class="card-title">Preguntados de banderas</h5>
              <p class="card-text">Un juego donde debes adivinar qué bandera es la que se está mostrando para sumar puntos.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/juegos/mayor-o-menor" class="text-decoration-none">
          <div class="card h-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Super_Mario_Bros._Logo.svg" class="card-img-top" alt="Imagen 3">
            <div class="card-body bg-white">
              <h5 class="card-title">Mayor o menor</h5>
              <p class="card-text">Un jugador predice si la siguiente carta de un mazo será mayor o menor que la actual.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-6 mb-3">
        <a routerLink="/juegos/juego4"class="text-decoration-none">
          <div class="card h-100">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/2b/Super_Mario_Bros._Logo.svg" class="card-img-top" alt="Imagen 4">
            <div class="card-body bg-white">
              <h5 class="card-title">Proximamente...</h5>
              <p class="card-text">...</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>