<div class="container animate__animated animate__fadeInDown">
    <h1 class="display-1 texto-fuente-primaria texto-color-primario text-center mb-4">Quien soy</h1>

    <div class="container my-5">
        <div class="row">
          <div class="col-12 col-md-6 d-flex justify-content-md-end justify-content-center">
            <img src="../../assets/quien-soy.jpeg" alt="Imagen del creador de la página" class="img-fluid w-75 border">
          </div>
      
          <div class="col-12 col-md-6 mt-4 mt-md-0 d-flex flex-column justify-content-md-start justify-content-center texto-fuente-primaria texto-color-primario">
            <div class="row mb-4">
              <div class="col-12 text-md-start text-center">
                <h2>Datos del alumno:</h2>
                <p>
                  - Nombre: Alejo Martin Carmona<br>
                  - Materia: Laboratorio de Programación IV<br>
                  - Año y cuatrimestre: 2024 2C<br>
                  - División: A341<br>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-md-start text-center">
                <h2>Juego propio:</h2>
                <h3>Titulo</h3>
                <p>Aún no he decidido cuál va a ser el juego.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

