<div class="container texto-color-principal">
    <div class="row text-center">
        <h1 class="titulo-principal texto-tamaño-principal animate__animated animate__fadeInDown mt-4">Dovahkiin Games</h1>
        <p class="subtitulo-principal texto-fuente-primaria animate__animated animate__fadeInUp">Desafía tu mente, domina el juego.</p>
    </div>
    <div class="row justify-content-end py-5 mensajes animate__animated animate__fadeInLeft texto-fuente-primaria">
        <div class="col-6">
            <h3>Explora una colección de juegos de navegador diseñados para desafiar tu mente y ofrecerte horas de diversión.</h3>
        </div>
        <div class="col-5">
            <h3> Desde acertijos hasta desafíos rápidos, cada juego está diseñado para entretenerte y mantenerte en acción.</h3>
        </div>
    </div>
    <div class="row mensajes animate__animated animate__fadeInLeft texto-fuente-primaria">
        <h2 class="text-center">¡Haz una pausa dentro de tu rutina!</h2>
    </div>
    <div class="row mt-4 texto-fuente-primaria">
        <a class="mx-auto d-flex justify-content-center align-items-center text-decoration-none border border-light text-light hover-effect" href="#">
            <span>Jugar</span>
        </a>
    </div>
</div>