<div class="container texto-color-primario">
    <div class="row text-center">
        <h1 class="titulo-principal display-1 texto-fuente-primaria  animate__animated animate__fadeInDown mt-4">Dovahkiin Games</h1>
        <p class="subtitulo-principal texto-fuente-primaria animate__animated animate__fadeInUp">Desafía tu mente, domina el juego.</p>
    </div>
    <div class="row justify-content-end py-5 text-center text-md-start animate__animated animate__fadeInLeft texto-fuente-primaria">
        <div class="col-12 col-md-6">
            <p class="fs-5">Explora una colección de juegos de navegador diseñados para desafiar tu mente y ofrecerte horas de diversión.</p>
        </div>
        <div class="col-12 mt-4 mt-md-0 col-md-6">
            <p class="fs-5"> Desde acertijos hasta desafíos rápidos, cada juego está diseñado para entretenerte y mantenerte en acción.</p>
        </div>
    </div>
    <div class="row animate__animated animate__fadeInLeft texto-fuente-primaria">
        <p class="fs-3 text-center">¡Haz una pausa dentro de tu rutina!</p>
    </div>
    <div class="row mt-4 texto-fuente-primaria">
        <a class="mx-auto d-flex justify-content-center align-items-center text-decoration-none border border-light text-light hover-effect">
            <span>Jugar</span>
        </a>
    </div>
</div>