<div class="container animate__animated animate__fadeInDown">
    <div class="mx-auto col-12 col-md-6 texto-color-primario texto-fuente-primaria">
      <h1 class="display-1 texto-fuente-primaria text-center mb-4">Registro</h1>
      <div class="card border">
        <div class="card-body p-4">
            <form>
                <div class="row">
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="nombre" class="form-label fs-6">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Juan" required>
                    </div>
                    <div class="col-12 col-sm-6 mb-3">
                        <label for="apellido" class="form-label fs-6">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="Pérez" required>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label fs-6">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="juan.perez@email.com" required>
                </div>
                <div class="mb-3">
                    <label for="contraseña" class="form-label fs-6">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="********" required>
                </div>
                <div class="mb-3">
                    <label for="fecha-nacimiento" class="form-label fs-6">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="fecha-nacimiento" required>
                </div>
                <button type="button" class="btn btn-outline-light w-100">Registrarse</button>
            </form>
        </div>
    </div>
  </div>