<div class="container animate__animated animate__fadeInDown">
  <div class="mx-auto col-12 col-md-6 texto-color-primario texto-fuente-primaria">
    <h1 class="text-center mb-4 display-1">Login</h1>
    <p>Para acceder a todo nuestro increíble repertorio de juegos de navedador, debes iniciar sesión.</p>
    <form class="p-4">
        <div class="mb-3">
          <label for="inputEmail" class="form-label fs-6">Dirección de correo electrónico</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label fs-6">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="button" class="btn btn-outline-light w-100 mb-3">Iniciar sesión</button>
        <p class="text-center mb-1">¿No tienes una cuenta? ¡Registrate!</p>
        <button type="button" class="btn btn-outline-light w-100" routerLink="/registro">Registrarse</button>
      </form>
  </div>
</div>