<div class="container animate__animated animate__fadeInDown">
  <div class="mx-auto w-50 texto-color-principal texto-fuente-primaria">
    <h1 class=" texto-tamaño-subtitulos text-center mb-4">Login</h1>
    <p>Para acceder a todo nuestro increíble repertorio de juegos de navedador, debes iniciar sesión.</p>
    <form class="p-4">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Dirección de correo electrónico</label>
          <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-outline-light w-100">Iniciar sesión</button>
      </form>
  </div>
</div>