
/*Variables:*/
:root {
    --color-fondo: #0D1B2A;
    --color-principal-texto: #E0E1DD;
    --fuente-titulo-principal: "Handjet", sans-serif;
    --fuente-primaria: "SUSE", sans-serif;
}

/*Globales*/
html, body {
    overflow-x: hidden;
  }
body {
    background-color: #0D1B2A;
}

/*Clases utiles*/
.texto-tamaño-subtitulos {
  font-size: 5rem;
}
.texto-color-primario {
    color: var(--color-principal-texto);
}
.texto-fuente-primaria {
    font-family: var(--fuente-primaria);
}
/*Deshabilitar componente*/
.disabled {
    pointer-events: none; /* Desactiva clicks */
    opacity: 0.5; /* Aplica efecto grisado */
}